USE [master]
GO
/****** Object:  Database [YellowMoonShop]    Script Date: 9/23/2021 11:24:14 PM ******/
CREATE DATABASE [YellowMoonShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YellowMoonShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\YellowMoonShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YellowMoonShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\YellowMoonShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YellowMoonShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YellowMoonShop]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 9/23/2021 11:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[userID] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[fullName] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[status] [bit] NULL,
	[roleID] [nvarchar](50) NULL,
 CONSTRAINT [PK_accounts] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 9/23/2021 11:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[categoryID] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderDetails]    Script Date: 9/23/2021 11:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderDetails](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [nvarchar](50) NULL,
	[productID] [nvarchar](50) NULL,
	[quantity] [int] NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_orderDetails] PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 9/23/2021 11:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[userID] [nvarchar](50) NULL,
	[orderDate] [datetime] NULL,
	[shippingAddress] [nvarchar](200) NULL,
	[totalPrice] [real] NULL,
	[paymentID] [nvarchar](50) NULL,
	[orderID] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[paymentStatus] [bit] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 9/23/2021 11:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[paymentID] [nvarchar](50) NOT NULL,
	[paymentName] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_payments] PRIMARY KEY CLUSTERED 
(
	[paymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 9/23/2021 11:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[productID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[image] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[price] [real] NULL,
	[quantity] [int] NULL,
	[categoryID] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[createDate] [date] NULL,
	[expirationDate] [date] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 9/23/2021 11:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[roleID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[updateRecord]    Script Date: 9/23/2021 11:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[updateRecord](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [nvarchar](50) NULL,
	[productID] [nvarchar](50) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_updateRecord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[accounts] ([userID], [password], [fullName], [phone], [address], [status], [roleID]) VALUES (N'aaa', N'1', N'AAA', N'0111111111', N'a', 1, N'mem')
INSERT [dbo].[accounts] ([userID], [password], [fullName], [phone], [address], [status], [roleID]) VALUES (N'ad', N'1', N'ADM', N'0111111112', N'b', 1, N'ad')
INSERT [dbo].[accounts] ([userID], [password], [fullName], [phone], [address], [status], [roleID]) VALUES (N'bbb', N'123', N'BBB', N'0000011111', N'address', 1, N'mem')
GO
INSERT [dbo].[categories] ([categoryID], [category], [status], [description]) VALUES (N'a', N'Bánh ', 1, N'Phần vỏ bánh và phần nhân. Vỏ bánh được làm từ bột mì, bột nở, nước đường và dầu ăn. Phần nhân thập cẩm là sự kết hợp của một số loại nguyên liệu như của lạp xưởng, trần bì, các loại hạt, mứt bí, mỡ đường, hạt sen, mè, chà bông, gà')
INSERT [dbo].[categories] ([categoryID], [category], [status], [description]) VALUES (N'b', N'Sticky ', 1, N'Vỏ bánh dẻo làm từ bột nếp rang xay mịn nhào quyện cùng nước đường, nước hoa bưởi. Nhân bánh được làm từ đậu xanh được làm nhuyễn sên đặc')
INSERT [dbo].[categories] ([categoryID], [category], [status], [description]) VALUES (N'c', N'Speciality', 1, N'Bánh trung thu rau câu, tỏi đen, tiramisu...')
GO
SET IDENTITY_INSERT [dbo].[orderDetails] ON 

INSERT [dbo].[orderDetails] ([detailID], [orderID], [productID], [quantity], [price]) VALUES (4, N'1603064378622', N'cake 2', 2, 200)
INSERT [dbo].[orderDetails] ([detailID], [orderID], [productID], [quantity], [price]) VALUES (5, N'1603064378622', N'cake 3', 1, 150)
INSERT [dbo].[orderDetails] ([detailID], [orderID], [productID], [quantity], [price]) VALUES (6, N'1603065188918', N'cake 7', 2, 160)
SET IDENTITY_INSERT [dbo].[orderDetails] OFF
GO
INSERT [dbo].[orders] ([userID], [orderDate], [shippingAddress], [totalPrice], [paymentID], [orderID], [phone], [name], [paymentStatus]) VALUES (NULL, CAST(N'2021-09-19T00:00:00.000' AS DateTime), N'a/a/a', 550, N'COD', N'1603064378622', N'1111111111', NULL, 1)
INSERT [dbo].[orders] ([userID], [orderDate], [shippingAddress], [totalPrice], [paymentID], [orderID], [phone], [name], [paymentStatus]) VALUES (NULL, CAST(N'2021-09-19T00:00:00.000' AS DateTime), N'b/b/b', 320, N'MM', N'1603065188918', N'2222222222', NULL, 1)
INSERT [dbo].[orders] ([userID], [orderDate], [shippingAddress], [totalPrice], [paymentID], [orderID], [phone], [name], [paymentStatus]) VALUES (NULL, CAST(N'2021-09-19T00:00:00.000' AS DateTime), N'b/b/b', 200, N'MM', N'1603065270050', N'2222222222', NULL, 1)
GO
INSERT [dbo].[payments] ([paymentID], [paymentName], [status]) VALUES (N'COD', N'COD', NULL)
INSERT [dbo].[payments] ([paymentID], [paymentName], [status]) VALUES (N'MM', N'Momo Wallet', NULL)
INSERT [dbo].[payments] ([paymentID], [paymentName], [status]) VALUES (N'PP', N'Paypal', NULL)
GO
INSERT [dbo].[products] ([productID], [name], [image], [description], [price], [quantity], [categoryID], [status], [createDate], [expirationDate]) VALUES (N'cake 1', N'Chocolate Cake', N'images/1632410357305.png', N'choco', 100, 10, N'a', 1, CAST(N'2021-09-16' AS Date), CAST(N'2021-12-31' AS Date))
INSERT [dbo].[products] ([productID], [name], [image], [description], [price], [quantity], [categoryID], [status], [createDate], [expirationDate]) VALUES (N'cake 10', N'Moon Cake', N'images/1603133801552.jpg', N'Ngonnn', 100, 16, N'a', 1, CAST(N'2021-09-15' AS Date), CAST(N'2021-12-30' AS Date))
INSERT [dbo].[products] ([productID], [name], [image], [description], [price], [quantity], [categoryID], [status], [createDate], [expirationDate]) VALUES (N'cake 11', N'Moon Cake 2', N'images/1603119822653.jpg', N'', 305, 12, N'c', 1, CAST(N'2021-09-14' AS Date), CAST(N'2021-11-30' AS Date))
GO
INSERT [dbo].[roles] ([roleID], [name]) VALUES (N'ad', N'admin')
INSERT [dbo].[roles] ([roleID], [name]) VALUES (N'mem', N'member')
GO
SET IDENTITY_INSERT [dbo].[updateRecord] ON 

INSERT [dbo].[updateRecord] ([id], [userID], [productID], [date]) VALUES (1, N'ad', N'cake 12', CAST(N'2021-09-20T00:00:00.000' AS DateTime))
INSERT [dbo].[updateRecord] ([id], [userID], [productID], [date]) VALUES (2, N'ad', N'cake 10', CAST(N'2021-09-20T00:00:00.000' AS DateTime))
INSERT [dbo].[updateRecord] ([id], [userID], [productID], [date]) VALUES (3, N'ad', N'cake 10', CAST(N'2021-09-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[updateRecord] OFF
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK_accounts_roles] FOREIGN KEY([roleID])
REFERENCES [dbo].[roles] ([roleID])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK_accounts_roles]
GO
ALTER TABLE [dbo].[orderDetails]  WITH CHECK ADD  CONSTRAINT [FK_orderDetails_orders] FOREIGN KEY([orderID])
REFERENCES [dbo].[orders] ([orderID])
GO
ALTER TABLE [dbo].[orderDetails] CHECK CONSTRAINT [FK_orderDetails_orders]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_accounts] FOREIGN KEY([userID])
REFERENCES [dbo].[accounts] ([userID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_accounts]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_payments] FOREIGN KEY([paymentID])
REFERENCES [dbo].[payments] ([paymentID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_payments]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([categoryID])
REFERENCES [dbo].[categories] ([categoryID])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[updateRecord]  WITH CHECK ADD  CONSTRAINT [FK_updateRecord_accounts] FOREIGN KEY([userID])
REFERENCES [dbo].[accounts] ([userID])
GO
ALTER TABLE [dbo].[updateRecord] CHECK CONSTRAINT [FK_updateRecord_accounts]
GO
ALTER TABLE [dbo].[updateRecord]  WITH CHECK ADD  CONSTRAINT [FK_updateRecord_products] FOREIGN KEY([productID])
REFERENCES [dbo].[products] ([productID])
GO
ALTER TABLE [dbo].[updateRecord] CHECK CONSTRAINT [FK_updateRecord_products]
GO
USE [master]
GO
